.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.003906;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.100098;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.100098;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.035156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.035520px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.035520px;}
.ls3{letter-spacing:0.126400px;}
.ls4{letter-spacing:0.201200px;}
.ls5{letter-spacing:0.225200px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.607040px;}
._1{width:1.045920px;}
._3{width:3.299040px;}
._4{width:4.474560px;}
._0{width:1634.299840px;}
.fc5{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fc4{color:rgb(231,230,230);}
.fc1{color:rgb(65,64,66);}
.fc2{color:rgb(40,40,40);}
.fc3{color:rgb(46,116,181);}
.fs5{font-size:37.920000px;}
.fs1{font-size:39.840000px;}
.fs7{font-size:42.240000px;}
.fs0{font-size:44.160000px;}
.fs2{font-size:48.000000px;}
.fs3{font-size:51.840000px;}
.fs4{font-size:60.000000px;}
.fs6{font-size:147.840000px;}
.y36{bottom:-10.450000px;}
.y79{bottom:-3.830000px;}
.y35{bottom:1.070000px;}
.y56{bottom:2.400000px;}
.y59{bottom:2.410000px;}
.y26{bottom:2.530000px;}
.y1c{bottom:2.540000px;}
.y4d{bottom:2.640000px;}
.y74{bottom:2.650000px;}
.y1e{bottom:2.750000px;}
.y71{bottom:2.754000px;}
.y4f{bottom:2.760000px;}
.y23{bottom:2.770000px;}
.y3b{bottom:2.990000px;}
.y5b{bottom:3.010000px;}
.y2a{bottom:3.360000px;}
.y21{bottom:3.370000px;}
.y54{bottom:3.480000px;}
.y46{bottom:3.490000px;}
.y2c{bottom:4.080000px;}
.y38{bottom:4.090000px;}
.y3f{bottom:4.190000px;}
.y4a{bottom:4.210000px;}
.y52{bottom:9.360000px;}
.y61{bottom:9.480000px;}
.y64{bottom:9.490000px;}
.y60{bottom:9.960000px;}
.y63{bottom:9.970000px;}
.y34{bottom:12.470000px;}
.y66{bottom:15.000000px;}
.y6f{bottom:15.970000px;}
.y42{bottom:20.650000px;}
.y51{bottom:21.960000px;}
.y78{bottom:22.090000px;}
.y33{bottom:24.020000px;}
.y32{bottom:35.540000px;}
.y0{bottom:36.500000px;}
.y31{bottom:47.060000px;}
.y6c{bottom:47.160000px;}
.y6b{bottom:58.560000px;}
.y30{bottom:58.580000px;}
.y6a{bottom:70.080000px;}
.y2f{bottom:70.100000px;}
.y72{bottom:71.790000px;}
.y2e{bottom:81.500000px;}
.y69{bottom:81.600000px;}
.y70{bottom:88.470000px;}
.y39{bottom:116.190000px;}
.y3c{bottom:117.630000px;}
.y3a{bottom:134.790000px;}
.y3d{bottom:135.150000px;}
.y1f{bottom:150.630000px;}
.y3e{bottom:165.270000px;}
.y1d{bottom:165.990000px;}
.y40{bottom:177.870000px;}
.y1b{bottom:181.470000px;}
.y44{bottom:205.960000px;}
.y20{bottom:207.280000px;}
.y41{bottom:232.120000px;}
.y6e{bottom:245.920000px;}
.y43{bottom:255.640000px;}
.y1a{bottom:269.210000px;}
.y28{bottom:275.080000px;}
.y6d{bottom:289.480000px;}
.y19{bottom:291.770000px;}
.y48{bottom:300.160000px;}
.y27{bottom:302.440000px;}
.y18{bottom:314.210000px;}
.y45{bottom:318.880000px;}
.y47{bottom:319.720000px;}
.y25{bottom:320.080000px;}
.y17{bottom:336.770000px;}
.y24{bottom:337.720000px;}
.y22{bottom:355.240000px;}
.y49{bottom:358.480000px;}
.y16{bottom:359.210000px;}
.y29{bottom:374.710000px;}
.y15{bottom:381.790000px;}
.y14{bottom:404.230000px;}
.y2b{bottom:411.070000px;}
.y65{bottom:420.070000px;}
.y13{bottom:426.670000px;}
.y68{bottom:435.430000px;}
.y4e{bottom:446.350000px;}
.y12{bottom:449.230000px;}
.y4b{bottom:464.110000px;}
.y4c{bottom:464.830000px;}
.y11{bottom:471.670000px;}
.y50{bottom:493.150000px;}
.y10{bottom:494.230000px;}
.yf{bottom:516.670000px;}
.y57{bottom:533.830000px;}
.y2d{bottom:537.320000px;}
.ye{bottom:539.230000px;}
.y53{bottom:550.270000px;}
.y55{bottom:551.470000px;}
.yd{bottom:561.700000px;}
.y77{bottom:568.050000px;}
.yc{bottom:584.140000px;}
.y76{bottom:584.370000px;}
.y75{bottom:600.330000px;}
.y73{bottom:603.570000px;}
.yb{bottom:606.700000px;}
.ya{bottom:629.140000px;}
.y37{bottom:643.290000px;}
.y9{bottom:651.700000px;}
.y8{bottom:674.140000px;}
.y67{bottom:686.610000px;}
.y7{bottom:696.580000px;}
.y5e{bottom:706.290000px;}
.y6{bottom:719.140000px;}
.y58{bottom:721.890000px;}
.y62{bottom:724.650000px;}
.y5a{bottom:740.610000px;}
.y5{bottom:741.580000px;}
.y5c{bottom:761.040000px;}
.y5f{bottom:763.800000px;}
.y4{bottom:764.160000px;}
.y5d{bottom:779.040000px;}
.y3{bottom:786.600000px;}
.y2{bottom:809.160000px;}
.y1{bottom:831.600000px;}
.h19{height:12.600000px;}
.h18{height:12.615000px;}
.h14{height:12.720000px;}
.h7{height:13.200000px;}
.h3{height:13.215000px;}
.h5{height:13.320000px;}
.h23{height:13.800000px;}
.hf{height:13.815000px;}
.h1a{height:13.830000px;}
.hc{height:14.640000px;}
.h6{height:17.280000px;}
.h12{height:17.400000px;}
.h17{height:17.415000px;}
.h8{height:18.240000px;}
.he{height:18.375000px;}
.h13{height:18.390000px;}
.h1e{height:25.200000px;}
.h21{height:26.640000px;}
.h15{height:32.160000px;}
.h24{height:32.280000px;}
.h16{height:32.791172px;}
.h22{height:34.451484px;}
.h10{height:34.560000px;}
.hb{height:41.415703px;}
.h1f{height:43.910625px;}
.h2{height:43.922812px;}
.h11{height:44.853750px;}
.h1b{height:45.120000px;}
.h1d{height:45.150000px;}
.hd{height:45.906562px;}
.h4{height:49.898438px;}
.h9{height:61.435547px;}
.ha{height:90.735000px;}
.h20{height:90.840000px;}
.h1c{height:151.377187px;}
.h1{height:779.000000px;}
.h0{height:841.920000px;}
.w14{width:5.400000px;}
.w2d{width:14.760000px;}
.wa{width:17.520000px;}
.w8{width:18.360000px;}
.w7{width:22.200000px;}
.w6{width:31.440000px;}
.we{width:40.920000px;}
.w19{width:49.830000px;}
.w21{width:49.950000px;}
.w1d{width:50.070000px;}
.w13{width:50.430000px;}
.w27{width:51.255000px;}
.w3{width:51.375000px;}
.w5{width:52.215000px;}
.w16{width:52.590000px;}
.w2{width:53.775000px;}
.w2e{width:54.015000px;}
.w9{width:54.615000px;}
.w31{width:55.830000px;}
.w30{width:70.470000px;}
.wc{width:71.055000px;}
.wf{width:72.840000px;}
.wb{width:74.655000px;}
.w11{width:75.750000px;}
.w2f{width:78.630000px;}
.w1b{width:79.350000px;}
.w4{width:80.415000px;}
.w23{width:81.510000px;}
.w24{width:92.895000px;}
.w1c{width:96.495000px;}
.w2b{width:100.100000px;}
.w17{width:103.100000px;}
.w26{width:107.660000px;}
.w1a{width:112.700000px;}
.w20{width:114.500000px;}
.w12{width:117.030000px;}
.w10{width:126.390000px;}
.w28{width:130.830000px;}
.w25{width:137.810000px;}
.w32{width:151.220000px;}
.w22{width:152.180000px;}
.w1e{width:152.300000px;}
.wd{width:162.740000px;}
.w2c{width:162.860000px;}
.w29{width:175.970000px;}
.w2a{width:177.890000px;}
.w18{width:203.330000px;}
.w15{width:215.330000px;}
.w1f{width:245.570000px;}
.w0{width:595.320000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x3{left:36.000000px;}
.xb{left:38.400000px;}
.x9{left:111.030000px;}
.x4{left:115.830000px;}
.x5{left:118.230000px;}
.xc{left:119.310000px;}
.x7{left:176.090000px;}
.x8{left:177.890000px;}
.x2{left:203.210000px;}
.x1{left:401.120000px;}
.xa{left:402.800000px;}
.x6{left:437.960000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.047360pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.047360pt;}
.ls3{letter-spacing:0.168533pt;}
.ls4{letter-spacing:0.268267pt;}
.ls5{letter-spacing:0.300267pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-2.142720pt;}
._1{width:1.394560pt;}
._3{width:4.398720pt;}
._4{width:5.966080pt;}
._0{width:2179.066453pt;}
.fs5{font-size:50.560000pt;}
.fs1{font-size:53.120000pt;}
.fs7{font-size:56.320000pt;}
.fs0{font-size:58.880000pt;}
.fs2{font-size:64.000000pt;}
.fs3{font-size:69.120000pt;}
.fs4{font-size:80.000000pt;}
.fs6{font-size:197.120000pt;}
.y36{bottom:-13.933333pt;}
.y79{bottom:-5.106667pt;}
.y35{bottom:1.426667pt;}
.y56{bottom:3.200000pt;}
.y59{bottom:3.213333pt;}
.y26{bottom:3.373333pt;}
.y1c{bottom:3.386667pt;}
.y4d{bottom:3.520000pt;}
.y74{bottom:3.533333pt;}
.y1e{bottom:3.666667pt;}
.y71{bottom:3.672000pt;}
.y4f{bottom:3.680000pt;}
.y23{bottom:3.693333pt;}
.y3b{bottom:3.986667pt;}
.y5b{bottom:4.013333pt;}
.y2a{bottom:4.480000pt;}
.y21{bottom:4.493333pt;}
.y54{bottom:4.640000pt;}
.y46{bottom:4.653333pt;}
.y2c{bottom:5.440000pt;}
.y38{bottom:5.453333pt;}
.y3f{bottom:5.586667pt;}
.y4a{bottom:5.613333pt;}
.y52{bottom:12.480000pt;}
.y61{bottom:12.640000pt;}
.y64{bottom:12.653333pt;}
.y60{bottom:13.280000pt;}
.y63{bottom:13.293333pt;}
.y34{bottom:16.626667pt;}
.y66{bottom:20.000000pt;}
.y6f{bottom:21.293333pt;}
.y42{bottom:27.533333pt;}
.y51{bottom:29.280000pt;}
.y78{bottom:29.453333pt;}
.y33{bottom:32.026667pt;}
.y32{bottom:47.386667pt;}
.y0{bottom:48.666667pt;}
.y31{bottom:62.746667pt;}
.y6c{bottom:62.880000pt;}
.y6b{bottom:78.080000pt;}
.y30{bottom:78.106667pt;}
.y6a{bottom:93.440000pt;}
.y2f{bottom:93.466667pt;}
.y72{bottom:95.720000pt;}
.y2e{bottom:108.666667pt;}
.y69{bottom:108.800000pt;}
.y70{bottom:117.960000pt;}
.y39{bottom:154.920000pt;}
.y3c{bottom:156.840000pt;}
.y3a{bottom:179.720000pt;}
.y3d{bottom:180.200000pt;}
.y1f{bottom:200.840000pt;}
.y3e{bottom:220.360000pt;}
.y1d{bottom:221.320000pt;}
.y40{bottom:237.160000pt;}
.y1b{bottom:241.960000pt;}
.y44{bottom:274.613333pt;}
.y20{bottom:276.373333pt;}
.y41{bottom:309.493333pt;}
.y6e{bottom:327.893333pt;}
.y43{bottom:340.853333pt;}
.y1a{bottom:358.946667pt;}
.y28{bottom:366.773333pt;}
.y6d{bottom:385.973333pt;}
.y19{bottom:389.026667pt;}
.y48{bottom:400.213333pt;}
.y27{bottom:403.253333pt;}
.y18{bottom:418.946667pt;}
.y45{bottom:425.173333pt;}
.y47{bottom:426.293333pt;}
.y25{bottom:426.773333pt;}
.y17{bottom:449.026667pt;}
.y24{bottom:450.293333pt;}
.y22{bottom:473.653333pt;}
.y49{bottom:477.973333pt;}
.y16{bottom:478.946667pt;}
.y29{bottom:499.613333pt;}
.y15{bottom:509.053333pt;}
.y14{bottom:538.973333pt;}
.y2b{bottom:548.093333pt;}
.y65{bottom:560.093333pt;}
.y13{bottom:568.893333pt;}
.y68{bottom:580.573333pt;}
.y4e{bottom:595.133333pt;}
.y12{bottom:598.973333pt;}
.y4b{bottom:618.813333pt;}
.y4c{bottom:619.773333pt;}
.y11{bottom:628.893333pt;}
.y50{bottom:657.533333pt;}
.y10{bottom:658.973333pt;}
.yf{bottom:688.893333pt;}
.y57{bottom:711.773333pt;}
.y2d{bottom:716.426667pt;}
.ye{bottom:718.973333pt;}
.y53{bottom:733.693333pt;}
.y55{bottom:735.293333pt;}
.yd{bottom:748.933333pt;}
.y77{bottom:757.400000pt;}
.yc{bottom:778.853333pt;}
.y76{bottom:779.160000pt;}
.y75{bottom:800.440000pt;}
.y73{bottom:804.760000pt;}
.yb{bottom:808.933333pt;}
.ya{bottom:838.853333pt;}
.y37{bottom:857.720000pt;}
.y9{bottom:868.933333pt;}
.y8{bottom:898.853333pt;}
.y67{bottom:915.480000pt;}
.y7{bottom:928.773333pt;}
.y5e{bottom:941.720000pt;}
.y6{bottom:958.853333pt;}
.y58{bottom:962.520000pt;}
.y62{bottom:966.200000pt;}
.y5a{bottom:987.480000pt;}
.y5{bottom:988.773333pt;}
.y5c{bottom:1014.720000pt;}
.y5f{bottom:1018.400000pt;}
.y4{bottom:1018.880000pt;}
.y5d{bottom:1038.720000pt;}
.y3{bottom:1048.800000pt;}
.y2{bottom:1078.880000pt;}
.y1{bottom:1108.800000pt;}
.h19{height:16.800000pt;}
.h18{height:16.820000pt;}
.h14{height:16.960000pt;}
.h7{height:17.600000pt;}
.h3{height:17.620000pt;}
.h5{height:17.760000pt;}
.h23{height:18.400000pt;}
.hf{height:18.420000pt;}
.h1a{height:18.440000pt;}
.hc{height:19.520000pt;}
.h6{height:23.040000pt;}
.h12{height:23.200000pt;}
.h17{height:23.220000pt;}
.h8{height:24.320000pt;}
.he{height:24.500000pt;}
.h13{height:24.520000pt;}
.h1e{height:33.600000pt;}
.h21{height:35.520000pt;}
.h15{height:42.880000pt;}
.h24{height:43.040000pt;}
.h16{height:43.721563pt;}
.h22{height:45.935312pt;}
.h10{height:46.080000pt;}
.hb{height:55.220937pt;}
.h1f{height:58.547500pt;}
.h2{height:58.563750pt;}
.h11{height:59.805000pt;}
.h1b{height:60.160000pt;}
.h1d{height:60.200000pt;}
.hd{height:61.208750pt;}
.h4{height:66.531250pt;}
.h9{height:81.914062pt;}
.ha{height:120.980000pt;}
.h20{height:121.120000pt;}
.h1c{height:201.836250pt;}
.h1{height:1038.666667pt;}
.h0{height:1122.560000pt;}
.w14{width:7.200000pt;}
.w2d{width:19.680000pt;}
.wa{width:23.360000pt;}
.w8{width:24.480000pt;}
.w7{width:29.600000pt;}
.w6{width:41.920000pt;}
.we{width:54.560000pt;}
.w19{width:66.440000pt;}
.w21{width:66.600000pt;}
.w1d{width:66.760000pt;}
.w13{width:67.240000pt;}
.w27{width:68.340000pt;}
.w3{width:68.500000pt;}
.w5{width:69.620000pt;}
.w16{width:70.120000pt;}
.w2{width:71.700000pt;}
.w2e{width:72.020000pt;}
.w9{width:72.820000pt;}
.w31{width:74.440000pt;}
.w30{width:93.960000pt;}
.wc{width:94.740000pt;}
.wf{width:97.120000pt;}
.wb{width:99.540000pt;}
.w11{width:101.000000pt;}
.w2f{width:104.840000pt;}
.w1b{width:105.800000pt;}
.w4{width:107.220000pt;}
.w23{width:108.680000pt;}
.w24{width:123.860000pt;}
.w1c{width:128.660000pt;}
.w2b{width:133.466667pt;}
.w17{width:137.466667pt;}
.w26{width:143.546667pt;}
.w1a{width:150.266667pt;}
.w20{width:152.666667pt;}
.w12{width:156.040000pt;}
.w10{width:168.520000pt;}
.w28{width:174.440000pt;}
.w25{width:183.746667pt;}
.w32{width:201.626667pt;}
.w22{width:202.906667pt;}
.w1e{width:203.066667pt;}
.wd{width:216.986667pt;}
.w2c{width:217.146667pt;}
.w29{width:234.626667pt;}
.w2a{width:237.186667pt;}
.w18{width:271.106667pt;}
.w15{width:287.106667pt;}
.w1f{width:327.426667pt;}
.w0{width:793.760000pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x3{left:48.000000pt;}
.xb{left:51.200000pt;}
.x9{left:148.040000pt;}
.x4{left:154.440000pt;}
.x5{left:157.640000pt;}
.xc{left:159.080000pt;}
.x7{left:234.786667pt;}
.x8{left:237.186667pt;}
.x2{left:270.946667pt;}
.x1{left:534.826667pt;}
.xa{left:537.066667pt;}
.x6{left:583.946667pt;}
}
